img {
  width: 20rem;
  height: auto;
  object-fit: cover;
  margin-top: -10rem;
}
.title {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  margin: 20px 15px 0 5px;
  word-spacing: 2px;
  letter-spacing: 0.6px;
  line-height: 18px;
}
