@import "../../theme/_variables";

.staticPageWrapper {
  a {
    color: $primary;
  }
}
.collposeBlock {
  .collopseContent {
    display: none;
  }
  .close {
    display: none;
  }
  .open {
    display: block;
  }
 
    button {
      background: transparent;
      border: none;
      padding: 0;
      text-align: left;
      &:focus, &:active {
        //outline: none;
       .collopseContent {
          display: block;
        }
        .open {
          display: none;
        }
        .close {
          display: block;
        }
      }
    }
  
 
}
