.blockWrapper {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1.25rem 1.5rem 1.25rem;
}

.headerLink {
  color: rgba(255, 255, 255, 0.6);
  font-family: "SFPDLight";
  font-size: 0.875rem;
  text-transform: uppercase;
  &.active {
    color: #ffffff;
  }
}
