.closeBtn {
  position: absolute;
  right: 3rem;
  width: 20px;
  top: 5px;
  background-color: transparent;
  border-color: transparent;
  border: none;
  padding: 0;
}

.hide {
  display: none !important;
}
