.headerLink {
  color: rgba(51,51,51,0.85);
  font-size: 0.875rem;
  text-transform: capitalize;
  padding-right: 30px;
  position: relative;
  &.active, &:hover {
    color: #ffffff;
    opacity: 1;
  }
  &:after {
    content: url('../../../static/next.svg');
    position: absolute;
    right: 10px;
    font-size: 14px;
    height: 14px;
    line-height: 1.2;
    top: 1px;
  }
  &.hideArrow {
    &:after {
      display: none;
    }
  }
}
.view360Btn {
  line-height: 2;
  &:hover {
    background: transparent;
    color: #FFF !important;
    opacity: 0.8;
  }
  img {
    width: 2rem;
  }
}
