.blogs_main {
  width: 100%;
  .banner {
    width: 100%;
    height: auto;
  }
  .cataagoryContainer {
    width: 100%;
    padding: 2% 14%;
    .catagoryList {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      color: #323131;
      background: #f9f9f9;
      margin: 0px 10px 10px;
      li {
        padding: 15px 20px;
        cursor: pointer;
      }
      .activeTab {
        border-bottom: 2px solid #f47020;
        font-weight: 600;
        background-image: linear-gradient(white, bisque);
      }
    }
    .posts {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .post {
        width: 100%;
        border: 1px solid #f9f9f9;
        margin: 10px;
        .image_container {
          height: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          .image {
            width: 100%;
            height: auto;
          }
        }
        .title {
          margin: 10px 0px;
          color: #323f38;
          font-size: 20px;
        }
        .date {
          color: #323f38;
          font-size: 16px;
        }
      }
    }
    .showMoreContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-weight: 600;
      padding-top: 20px;
      span {
        cursor: pointer;
      }
      img {
        margin-left: 10px;
        width: 25px;
        cursor: pointer;
      }
    }
  }
}
