/* .description {
  font-size: 12px;
  color: #000;
  margin: 0px 10px 0 0px;
  word-spacing: 1px;
  letter-spacing: 0.6px;
  line-height: 16px;
}
.shopByRoom {
  width: 50rem;
  height: auto;
  object-fit: cover;
  margin-top: -10rem;
  z-index: 999;
}
.shop-by-room-button {
  margin-left: 0;
  font-size: 11px;
  margin-top: 15px;
} */
