.imageContainer{
  width: 50%;
}
.dataContainer{
  width: 50%;
}
.quickViewChild{
  display: flex;
  flex-direction: row;

}

.sliderImage{
  height: 50px;
  width: 50px;
}
.quickView{
  width: 1000px;
  height: 600px;
}
.childImagesSlider{
  display: flex;
}
