@import "../../theme/_variables";
@import "../../theme/_mixins";

.pdSliderItem {
  margin-bottom: 10px;
  > div {
    // width: 100% !important;
    // height: 571px !important;
    position: relative;
    // box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .title {
    @include font-size(1rem);
    margin-top: 0.625rem !important;
  }
  img {
    // width: 100%;
    // height: 100%;
    // width: 100% !important;
    // height: auto !important;
    // position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  > div > div {
    z-index: 1;
  }
}
.pdpThumbSliderItem {
  .prodImage {
    position: absolute;
    max-width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
  }
}
