.googleMapWrapper {
  position: relative;
}
.filterWrapper {
  display: block !important;
  background: rgba(255,255,255,0.85);
  width: 400px !important;
  padding: 25px;
  position: absolute !important;
  top: 0;
  left: 100px;
  height: 100%;
  .filterDD {
    border: 1px solid #dddfe2;
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 #f5f5f5;
    padding: .625rem .75rem !important;
    &:hover {
      .arrow {
        top: 16px !important;
      }
    }
  }
  .filterBlock {
    width: 100%;
    &:first-child {
      margin-bottom: 1rem;
    }
  }
  .dropDown {
    width: 100%;
    label {
      text-transform: uppercase;
    }
  }
  .arrow {
    position: absolute;
    right: 10px;
    top: 13px;
    line-height: 0.5;
  }
  .cistList {
    height: calc(100% - 32px);
    overflow: auto;
    ul {
      padding-left: 0;
      li {
        list-style: none;
        button {
          background: transparent;
          border: none;
          text-align: left;
          padding: 0.5rem 1rem;
          width: 100%;
          &:hover {
            background: #efefef;
          }
        }
        address {
          font-size: 13px;
          color: #8e8e8e;
        }
      }
    }
  }
}
