.reloadRibbion {
  display: flex;
  height: 38px;
  transition: 1s height ease;
  visibility: visible;
}
.closeBtn {
  position: absolute;
  right: 3rem;
  width: 20px;
  top: 9px;
  background-color: transparent;
  border-color: transparent;
  border: none;
  padding: 0;
}
.hideRibbon {
  height: 0;
  visibility: hidden;
}
