.categoryUl {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  li {
    list-style: none;
    clear: both;
    > a {
      width: calc(100% - 40px);
      float: left;
    }
    button {
      float: right;
      img {
        transition: 0.5s all ease;
      }
      .open {
        transform: rotate(90deg);
      }
    }
    ul {
      list-style: none;
      padding-left: 15px;
      clear: both;
      padding-top: 1px;
    }
  }
}
.categoryLevel3 {
  max-height: 100vh;
  transition: 0.75s max-height ease;
  overflow: hidden;
  &.hide {
    max-height: 0;
  }
}
