@import "../../theme/variables";
@import "../../theme/mixins";

.sliderItem {
  padding: 0 5px;
  text-align: center;
  overflow: hidden;
  filter: grayscale(0);
  .link {
    display: block;
    position: relative;
  }
  &.square {
    .content {

    }
  }
  &.round {
    &:after {
      width: 240px;
      height: 240px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 15px solid #FFF;
      left: calc((100% - 240px) / 2);
      content: '';
      border-radius: 280px;
    }
    .link {
      padding-top: 15px;
    }
    img {
      width: 220px !important;
      height: 220px !important;
      margin: auto !important;
      border-radius: 100%;
    }
    .content {
      color: #FFF;
      text-align: center;
      position: absolute;
      top: 0;
      width: 100%;
      background: #ae8873ab;
      padding: 5px 10px;
      top: 60%;
      max-width: 220px;
      left: calc((100% - 220px) / 2);
      .title {
        margin: 0 !important;
        @include font-size(0.75rem);
      }
    }
  }
  .title {
    @include font-size(1rem);
  }
  img {
    margin-bottom: 5px;
    transition: all 0.75s ease;
  }
  &.grid {
    .title {
      margin-top: 0;
    }
  }
  &:hover {
    img {
      transform: scale(1.042);
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
}
