@import "../../theme/_variables";
@import "../../theme/_mixins";

.breadCrumb_container {
  display: flex;
  .homeList {
    &:after {
      content: url("../../../static/next.svg");
      padding: 10px;
    }
    a {
      color: rgba(7, 7, 7, 0.75);
      font-size: 0.875rem;
    }
  }
}

.breadCrumbList {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding-right: 10px;
    padding-left: 20px;
    line-height: 1;
    &:first-child {
      padding-left: 0;
    }
    &:after {
      content: url("../../../static/next.svg");
      position: absolute;
      right: -13px;
      font-size: 14px;
      height: 14px;
      line-height: 1.2;
      top: 1px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    a {
      color: rgba(7, 7, 7, 0.75);
      font-size: 0.875rem;
      span {
        color: rgba(99, 99, 99, 0.75);
      }
    }
  }
}

.lastBreadCrumb {
  color: #f57831 !important;
}