.categoryBar{
  width: 100%;
  display: inline-block;
}
.categoryBlock {
  border: solid 1px transparent;
  width: calc(100% / 8);
  &.active, &:hover {
    border: solid 1px #f16521;
    background-color: rgba(241,101,33,.03);
  }
}
