.productWrapper {
  position: relative;
  width: calc(25% - 30px);
  float: left;
  margin: 0 15px 30px;
  // box-shadow: 0 3px 6px 0 rgba(8, 8, 8, 0.12);
  background: #FFF;
  height: 420px;
  text-align: center;
  &:nth-child(4n+1){
    clear: both;
  }
}
.quickViewModal {
  padding: 20px !important;
  margin: auto;
}
.customModal {
  // display: block;
}
.filterBar {
  border-radius: 3px;
  background-color: rgba(0,0,0,0.10);
  padding: 0.75rem 1rem;
}
