@import "../../theme/_variables";
@import "../../theme/_mixins";

.headerLink {
  color: $text;
  font-family: regular;
  font-size: 1.375rem;
  text-transform: capitalize;
  opacity: 0.8;
  &.active, &:hover {
    opacity: 1;
  }
  &:after {
    content: '>';
    position: absolute;
    right: 13px;
    top: 0;
  }
  &.hideArrow {
    &:after {
      display: none;
    }
  }
}
.back {
  position: absolute;
  left: -30px;
  padding: 0;
  top: -4px;
  background: transparent;
  border: none;
}

/* Payment Options */
.paymentBlock {
  border-radius: 2px;
  background-color: #f5f5f5;
  padding: 1.25rem 2rem;
  .selectBank {
    width: 100%;
    max-width: 30rem;
  }
}
.dropDown {
  padding: 10px;
  height: 42px;
  border-radius: 0;
  font-size: 0.875rem;
  -webkit-appearance: none;
  min-width: 100px;
  text-align: center;
  background-color: #FFF;
  border: solid 1px rgba(151,151,151,0.47);
  margin-right: 1rem;
  &:focus {
    outline: none;
  }
}
.bankCard {
  input {
    vertical-align: top;
    padding: 0.325rem 0.5rem;
    margin-right: 10px;
    margin-top: 14px;
    cursor: pointer;
  }
  label {
    border: 1px solid #dddddd;
    padding: 0.125rem 0.325rem 0;
    cursor: pointer;
  }
  img {
    height: 30px;
  }
}
.emiTable {
  th {
    font-size: 0.75rem !important;
  }
}
.cardFieldWrapper {
  img {
    width: 36px;
    position: absolute;
    right: 25px;
    top: 34px;
  }
}
.paymentFormOptions {
  border: 1px solid #ededed;
  margin-left: 10px;
  padding: 20px;
  height: 100%;
}
