.paymentOptions {
  label {
    background: #f5f5f5;
    padding: 18px 15px;
    margin-bottom: 3px;
    width: 100%;
  }
  &:hover {
    label {
      background: #969696;
      color: #FFF;
    }
  }
  input[type="radio"] {
    display: none;
    &:checked + label {
      background: #969696;
      color: #FFF;
    }
  }
}
