.paymentOptions {
  background: #f5f5f5;
  padding: 15px 10px;
  margin-bottom: 3px;
  &:hover {
    background: #969696;
    label {
      color: #FFF;
    }
  }
  input[type="radio"] {
    display: none;
  }
}
