@import "../../theme/_variables";
@import "../../theme/_mixins";

.applyCoupon {
  position: relative;
  .applyCopupnField {
    border: none;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    outline: none !important;
  }
  .applyCouponBtn {
    position: absolute !important;
    right: 5px;
    top: 0;
  }
}
.offerList {
  // display: none;
  // position: absolute;
  background: #FFF;
  top: 35px;
  z-index: 1;
  border: 1px solid #ebebeb;
  // width: 300px;
  height: 200px;
  overflow: auto;
  &.active {
    display: block !important;
  }
  ul {
    padding: 0;
    margin: 0;
    p {
      margin: 0;
    }
    li {
      list-style: none;
      .couponWrapper {
        padding: 0.75rem 0.75rem;
        border-bottom: 1px solid #d2d1d1;
      }
      .coupon {
        margin-bottom: 0.625rem;
      }
      .couponCode {
        font-size: 0.625rem;
        border: 1px solid #d5d5d5;
        padding: 0.25rem 0.3125rem;
        margin: 0 8px 0 5px;
        color: #575757;
      }
      .saveRs {
        font-size: 0.75rem;
        color: #575757;
        span {
          color: #f5a623;
        }
      }
      .offerDetails {
        color: #828282;
        font-size: 0.75rem;
        font-family: thin;
        line-height: 1.6;
      }
      .offerCondition {
        margin-top: 0.325rem;
        padding-left: 1rem;
        li {
          color: #828282;
          list-style: initial;
          font-size: 0.75rem;
          font-family: thin;
        }
      }
    }
  }
}
.appliedCouponWrapper {
  padding: 0rem 0.75rem;
  border: 1px solid #d2d1d1;
  background: #f3f3f3;
  .appliedCoupon {
    font-size: 0.875rem;
    margin-bottom: 0;
    margin-top: 0;
    color: $primary;
    span {
      font-size: 1.125rem;
      color: $primary;
      font-family: medium;
    }
  }
  .appliedSaveRs {
    font-size: 0.785rem;
    margin-top: 5px;
    color: $primary;
    span {
      font-size: 1rem;
      font-family: medium;
      color: $primary;
    }
  }
  .couponEdit {
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 0.625rem;
    position: relative;
    top: 2px;
  }
}
.applyCouponWrapper {
  margin-bottom: 0.625rem;
  position: relative;
}
