@import "../../theme/_variables";
@import "../../theme/_mixins";

 .addAddressBtn {
  &.active, &:hover {
    background-color: #f3f3f3;
    outline: none;
  }
}
.addressBlock {
  &:nth-child(3n+1) {
    clear: both;
  }
}
.isLoggedIn {
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
