@import "../../theme/_variables";
@import "../../theme/_mixins";

.orderSummary {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.02);
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.09);
  padding: 1rem;
}
.questions {
  margin-top: 0.625rem;
}
