@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@font-face {
  font-family: 'thin';
  src: url('../../static/fonts/thin/HelveticaNeue-Thin.eot');
  src: url('../../static/fonts/thin/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/thin/HelveticaNeue-Thin.woff2') format('woff2'), url('../../static/fonts/thin/HelveticaNeue-Thin.woff') format('woff'), url('../../static/fonts/thin/HelveticaNeue-Thin.ttf') format('truetype'), url('../../static/fonts/thin/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'light';
  src: url('../../static/fonts/light/HelvLight.eot');
  src: url('../../static/fonts/light/HelvLight.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/light/HelvLight.woff2') format('woff2'), url('../../static/fonts/light/HelvLight.woff') format('woff'), url('../../static/fonts/light/HelvLight.ttf') format('truetype'), url('../../static/fonts/light/HelvLight.svg#HelvLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'regular';
  src: url('../../static/fonts/regular/Helvetica.eot');
  src: url('../../static/fonts/regular/Helvetica.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/regular/Helvetica.woff2') format('woff2'), url('../../static/fonts/regular/Helvetica.woff') format('woff'), url('../../static/fonts/regular/Helvetica.ttf') format('truetype'), url('../../static/fonts/regular/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'medium';
  src: url('../../static/fonts/medium/Helvetica-Bold.eot');
  src: url('../../static/fonts/medium/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../static/fonts/medium/Helvetica-Bold.woff2') format('woff2'),
  url('../../static/fonts/medium/Helvetica-Bold.woff') format('woff'),
  url('../../static/fonts/medium/Helvetica-Bold.ttf') format('truetype'),
  url('../../static/fonts/medium/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  src: url('../../static/fonts/bold/HelveticaNeue-Heavy.eot');
  src: url('../../static/fonts/bold/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../../static/fonts/bold/HelveticaNeue-Heavy.woff2') format('woff2'),
  url('../../static/fonts/bold/HelveticaNeue-Heavy.woff') format('woff'),
  url('../../static/fonts/bold/HelveticaNeue-Heavy.ttf') format('truetype'),
  url('../../static/fonts/bold/HelveticaNeue-Heavy.svg#HelveticaNeue-Heavy') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* ----- Base/Global Styles ----- */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: $text;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,a,span {
	color: $text;
}
@for $i from 1 through 6 {
	h#{$i} {
		@if $i == 1 {
			@include font-size($h1-font-size);
		} @else if $i == 2 {
			@include font-size($h2-font-size);
		} @else if $i == 3 {
			@include font-size($h3-font-size);
		} @else if $i == 4 {
			@include font-size($h4-font-size);
		} @else if $i == 5 {
			@include font-size($h5-font-size);
		} @else if $i == 6 {
			@include font-size($h6-font-size);
		}
	}
}
a {
	transition: 0.5s all ease;
	label {
		cursor: pointer !important;
	}
}
/* ----- End of Typography ----- */

/* Global Classed */
:global {
	.noPadding {
		padding: 0;
	}
	.pull-right {
		float: right
	}
	.pull-left {
		float: left
	}
}
