.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
  width: 105px;
  height: 38px !important;
  border-radius: 2px;
  background-color: #fff;
  border: none !important;
}
.react-datepicker-popper {
  z-index: 1001 !important;
}

.react-datepicker__input-container input {
  display: block;
  width: 105px;
  height: 38px !important;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(151, 151, 151, 0.47);
  font-size: 0.875em;
  border-radius: 2px !important;
}
