@import "../../theme/variables";

.trackOrderModal {
  min-width: 45rem;
  padding: 0;
}
.trackOrderModalWrapper {
  .processBlock {
    &:after {
      top: calc(50% - 16px);
      width: calc(50% + 15px);
      content: '';
      z-index: 0;
      background: #bcbbbb;
      height: 3px;
      position: absolute;
      left: calc(50% + 40px);
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    .processImg {
      width: 80px;
      height: 80px;
      background: #FFF;
      border: 3px solid #bcbbbb;
      margin: auto;
      position: relative;
      border-radius: 100%;
      z-index: 1;
      img {
        width: 40px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
    &.completed {
      &:after {
        background: #f5a623;
      }
      .processImg {
        background: $primary;
        border: 3px solid $primary;
      }
    }
  }
}
