.uspImg {
  &:before {
    width: 1px;
    height: 48px;
    background: #dadada;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
  }
  &:last-child {
    &:before {
      display: none;
    }
  }
}
