@import "../../theme/variables";
@import "../../theme/mixins";
@import "../../theme/global";

.navBar {
  display: inline-block;
  a {
    padding: 10px 15px 10px 0;
  }
}
.homeIcon {
  float: left;
  a {
    padding-right: 0;
    display: block;
  }
}
.navBarSlider {
  // float: right;
  width: 100%;
  a {
    font-size: 0.8rem;
    @include font-family('Medium');
    color: $text-dark;
    p {
      margin: 0 !important;
      font-size: 0.9rem !important;
      white-space: nowrap;
    }
  }
}
