section {
  background-color: #F6C743;
  color: white;
  font-family: helvetica;
  overflow-x: hidden;
  padding: 15px 0px;
}

.divmain {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
}

.news-message {
  display: flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  animation: slide-left 20s linear infinite;
  overflow: hidden;
}

p {
  font-size: 2em;
  font-weight: 100;
  padding-left: 0.5em;
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}