@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

.loadMoreWrapper {
  text-align: center;
  padding: 1rem 0;
  clear: both;
  button {
    padding: 0.625rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #f98d29;
    border-color: #f98d29;
    svg {
      vertical-align: middle;
      margin-left: 5px;
      fill: #FFF;
      animation: spin 1s infinite linear;
    }
    .label {
      vertical-align: middle;
      color: #FFF;
    }
  }
}
