.footer {
  padding: 2.5rem 0 0;
  h4 {
    color: rgba(255, 255, 255, 1);
    font-family: light;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      padding-bottom: 7px;
      a {
        color: #cccccc;
        font-family: light;
        font-size: 0.875em;
        opacity: 1;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
.footerLogo {
  top: 3px;
  position: relative;
}
.socials {
  display: inline-block;
  margin-top: 0.625rem;
  li {
    display: inline-block;
    padding: 0 5px !important;
  }
}
