@import "../../theme/variables";
@import "../../theme/mixins";

.otherMenuContainer {
  position: relative;
  padding: 15px 5px 0;
  margin-bottom: 30px;
  .back {
    float: left;
  }
  .rightBLock {
    float: right;
    a {
      margin-left: 15px;
    }
  }
  img {
    height: 20px;
  }
}
