.boxes {
  img {
    object-fit: cover !important;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// .dots {
//   border-top: 1px dashed rgb(210, 210, 210);
// }

.pdpStripeIcons {
  height: 30px !important;
  width: auto;
  object-fit: cover;
}
// .useflex {
//   display: flex;
//   flex-direction: row;
//   align-items: baseline;
//   justify-content: center;
// }
