.shareBar {
  width: 100%;
  margin: 0 0 15px 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  ul {
    padding-left: 0;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 0;
    li {
      display: inline-block;
      list-style: none;
    }
  }
}
.button {
  background-color: #ffffff;
  width: auto;
  height: 50px;
}
