.pincode {
  position: relative;
  width: calc(100% - 28px);
  padding-top: 0;
  .pincodeCheckBtn {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 0.75rem;
    right: 0;
    top: 9px;
  }
}
