.desContainer {
  margin: 0 auto;
  position: relative;
  bottom: 120px;
  width: 1000px;
}

.descriptionTitle {
  padding: 2rem 5rem;
  line-height: 57px !important;
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.subTitlesBold {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  font-size: 26px;
  line-height: 37px;
}

.subTitlesLight {
  color: white;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  font-size: 26px;
  line-height: 37px;
}

.separator {
  height: 80px;
  width: 2px;
}

.descriptionText {
  margin: 20px 0;
  line-height: 49px !important;
  font-size: 32px;
  text-align: center;
}

.description {
  margin: 20px 0;
  line-height: 40px !important;
  font-size: 22px;
  text-align: left;
}

.avatar {
  border-radius: 50%;
  height: 450px;
  width: 450px;
}

.horizontalSeperator {
  box-sizing: border-box;
  width: 20px;
  height: 2px;
  border-bottom: 2px solid #222222;
  margin-top: 10px;
}

.headerTitle {
  font-size: 50px;
  line-height: 75px;
  padding-bottom: 10px;
  text-align: center;
}

.subTitle {
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
  color: black !important;
}

.imageCollection {
  height: 250px;
  width: 250px;
}

.paymentOptions {
  padding: 0 30px;
  margin: 0 50px;
  height: 180px;
  width: 300px;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Options {
  padding: 0 10px;
  margin: 0 20px;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.main {
  display: flex;
  width: 100%;
}
.left {
  width: 40%;
  margin-left: 3%;
}
.right {
  width: 60%;
  margin-right: 3%;
}
.shopButton {
  display: flex;
  margin-top: 20px;
}
