.loginModal {
  width: 400px;
  padding: 1rem 2rem;
  min-height: 500px;
}
.title {
  margin: 0;
  padding: 0 15px 10px;
  text-align: center !important;
  font-size: 1rem !important;
  svg {
    vertical-align: middle;
    margin-right: 1rem;
  }
}
.signupModal {
  width: 400px;
  padding: 1rem 2rem;
  min-height: 400px;
  padding-top: 30px;
}
.socialLogin {
  border-top: 1px solid #dddddd;
}
