@import "../../theme/variables";
@import "../../theme/mixins";
@import "../../theme/normalize";
@import "../../theme/global";

/* ---- Common Classes ---- */
:global {
	@import '../../components/SlickSlider/slick/slick.scss';
	@import '../../components/SlickSlider/slick/slick-theme.scss';

	.container {
		margin: 0 auto;
		padding: 0 15px;
	}
	.shadow {
		box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.14);
	}
	.inputField {
		height: $font-size-base * 2.625;
		border-radius: 2px;
		background-color: $white;
		@include border($border-width, $border-color-text-field, 'full');
	}
	.head {
		margin-bottom: 0;
		.title {
			text-align: center;
		}
	}
	.prodTitle {
		@include font-size(1.2rem);
		margin-top: 0;
	}
	.homeSlider {
		.control-arrow {
			top: calc(50% - 21px) !important;
		}
		.control-next {
			right: 15px !important;
		}
		.control-prev {
			left: 15px !important;
		}
	}
	.menuSlider {
		ul {
			padding-top: 2px !important;
		}
		.slide {
			min-width: auto !important;
			margin-right: 1rem !important;
		}
	}

	/* NProgress Start */
	#nprogress {
		pointer-events: none;
		.bar {
			background: #29d;
			position: fixed;
			z-index: 1031;
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
		}
		.peg {
			display: block;
			position: absolute;
			right: 0px;
			width: 100px;
			height: 100%;
			box-shadow: 0 0 10px #29d, 0 0 5px #29d;
			opacity: 1.0;
			-webkit-transform: rotate(3deg) translate(0px, -4px);
			-ms-transform: rotate(3deg) translate(0px, -4px);
			transform: rotate(3deg) translate(0px, -4px);
		}
		.spinner {
			display: block;
			position: fixed;
			z-index: 1031;
			top: 15px;
			right: 15px;
		}
		.spinner-icon {
			width: 18px;
			height: 18px;
			box-sizing: border-box;
			border: solid 2px transparent;
			border-top-color: #29d;
			border-left-color: #29d;
			border-radius: 50%;
			-webkit-animation: nprogress-spinner 400ms linear infinite;
			animation: nprogress-spinner 400ms linear infinite;
		}
	}

	.nprogress-custom-parent {
		overflow: hidden;
		position: relative;
		#nprogress {
			.spinner, .bar {
				position: absolute;
			}
		}
	}
	/* NProgress End */

	/* Heart Symbol Start */
	.heart-shape{
		position: relative;
		width: 15px;
		height: 15px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		background-color: #7f7f7f;
	}
	.heart-shape:before,
	.heart-shape:after{
		position: absolute;
		width: 15px;
		height: 15px;
		content: '';
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		background-color: #7f7f7f;
	}
	.fillIn, .fillIn:before,.fillIn:after {
		background-color: #FF5722;
	}
	.heart-shape:before{
		bottom: 0px;
		left: -9.5px;
	}
	.heart-shape:after{
		top: -9.5px;
		right: 0px;
	}
	/* Heart Symbol End */

	.wishListBtn {
		position: absolute;
    top: 0.75rem;
    right: 1.25rem;
		z-index: 1;
	}

	/* Orders Table */
	.ordersTable {
		width: 100%;
		text-align: left;
		.thumb {
			width: 60px;
		}
		th {
			padding: 1rem 0;
			font-size: 0.875rem;
			color: rgba(0, 0, 0, 0.7);
			font-weight: 300;
			padding: 0.25rem 0.325rem;
			text-transform: uppercase;
		}
		td {
			color: rgba(0, 0, 0, 0.6);
			font-size: 0.875rem;
			padding: 0.25rem 0.325rem;
			button {
				font-size: 0.875rem;
				font-weight: 300;
			}
		}
	}

	/* Slick carousel */
	.slick-next {
	  right: 25px;
		z-index: 1;
	}
	.slick-prev {
	  left: 25px;
		z-index: 1;
	}
	.slick-prev:before, .slick-next:before {
	  color: #000;
		font-size: 26px;
	}
	.slick-initialized .slick-slide {
    display: block !important;
	}

	.catCarousel, .storeCarousel, .prodCarousel {
		.slick-next {
		  right: -30px !important;
		}
		.slick-prev {
		  left: -30px !important;
		}
	}
	.customModal {
		padding: 3rem;
	}
}

@-webkit-keyframes :global(nprogress-spinner) {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes :global(nprogress-spinner) {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
/* ---- End of Common Classes ---- */
