.appliedFilters {
  display: inline-block;
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0.625rem;
    li {
      margin-left: 0.625rem;
      border-radius: 100px;
      background-color: rgba(238, 238, 199, 0.9);
      padding: 6px 10px;
      font-size: 12px;
      display: inline-block;
      margin-bottom: 0.625rem;
      button {
        border-radius: 10px !important;
      }
    }
  }
}
