.filterBlock {
  margin-left: 0.9375rem;
}
.colorBox {
  height: 14px;
  width: 14px;
  display: inline-block;
  margin-left: 0px;
  vertical-align: middle;
  margin-top: -2px;
  border-radius: 100%;
  margin-right: 7px;
  border: 1px solid #ddd;
}
