.loginModal {
  min-width: 400px;
  padding: 2rem;
}
.title {
  margin: 0;
  padding: 0 15px 10px;
  text-align: center;
  font-size: 1rem;
  svg {
    vertical-align: middle;
    margin-right: 1rem;
  }
}
