.loadingCart {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 0;
  z-index: 1;
  left: 0;
  top: 0;
  border: 1px solid rgba(221, 221, 221, 0.68);
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  h4 {
    margin: 0;
    font-size: 1.125rem;
    width: 100%;
    align-self: center;
    padding: 10px 10px;
    color: #FFF;
    line-height: 1.5;
    font-family: 'light';
  }
  p {
    margin: 0;
    font-size: 0.75rem;
  }
}
.cartItem {
  border: 1px solid #ededed;
  padding: 1.5rem 1rem;
}
.pincodeCheck {
  border: 1px solid #ededed;
  background: #F5F5F5;
  padding: 10px 1rem;
}
.borderBottom {
  border-bottom: 1px solid;
}
.popoverBtn:hover + .popover {
  display: block !important;
}
.popover {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 7px 0 rgba(116, 116, 116, 0.5);
  width: 15rem;
  text-align: left;
  padding: 1rem;
  position: absolute !important;
  left: 0px !important;
  top: 100%;
  z-index: 3 !important;
  transition: all .3s ease;
  display: none;
  :hover {
    display: block !important;
  }
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ededed;
    top: -7px;
    left: 43px;
  }
}
