.menuContainer {
  position: sticky !important;
  top: 0 !important;
  z-index: 10 !important;
  background: #FFF !important;
  height: 69px !important;
  .hamburger {
    .logoWrapper {
      display: inline-block;
      vertical-align: bottom;
      img {
        height: 42px;
      }
    }
  }
}
